
            <div class="page-header">
              <h1>Ooops <small> Something went wrong </small></h1>
            </div>
            <div class="row">
              <div class="span10">
                <p class="alert-message error">
                    <strong> Ooops Something went wrong! </strong>
                    Heres the message: </br>
                    <%= error_message %>
                </p>
              </div>
              <div class="span4">
                <h3>Last Updated At: </h3>
                <%= date %>
              </div>
            </div>
          </div>
    