<div class="page-header">
    <h1>Ships <small> New </small></h1>
</div>

<% if(!(error_message === undefined)) { %>
<div class="alert-message error> <%= error_message %> </div>
<% } %>

<% if(!(success_message === undefined)) %>
<div class="alert-message success> <%= success_message %> </div>
<% } %>

<form action="./ships/admin/create_new" method="post">
    <input type="text" class="xlInput" name="ship_name" id="ship_name" />
    <label for="ship_name"> Name: </label>
</form>